<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ _('Password Reset Request') }}</title>
</head>
<body>
  <p>{{ _('Hello') }} {{ user['fullname'] }},</p>
  <p>{{ _('You requested a password reset for your TEEtimeVN account.') }}</p>
  <p>{{ _('Click the link below to reset your password. This link is valid for 30 minutes:') }}</p>
  <p><a href="{{ reset_url }}">{{ reset_url }}</a></p>
  <br>
  <p>{{ _('If you did not make this request, simply ignore this email.') }}</p>
  <br>
  <p>{{ _('Thank you,') }}</p>
  <p>{{ _('The TEEtimeVN Team') }}</p>
</body>
</html>
