{# Partial form Forgot Password #}
<form class="form" method="post" action="{{ url_for('auth.forgot_password', lang=lang) }}">
  <span class="input-span">
    <label for="fp_email" class="label">{{ _('Email') }}</label>
    <input type="email" name="email" id="fp_email" required placeholder="{{ _('Enter your email') }}" />
  </span>
  <span class="span">
    {{ _("Remembered your password?") }}
    <a href="#" 
       data-bs-dismiss="modal" 
       data-bs-toggle="modal" 
       data-bs-target="#loginModal">{{ _('Log in') }}</a>
  </span>
  <input class="submit" type="submit" value="{{ _('Reset Password') }}" />
</form>
